[flake8]
extend-ignore = E203, W505
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,tests/*,__init__.py
max-complexity = 10
max-line-length = 120
max-doc-length=200
per-file-ignores =
    # line too long
    github_base_content.py: E501, W505